body {
    --gold: linear-gradient(175deg, rgba(255, 206, 83, 1) 50%, rgba(145, 117, 45, 1) 100%);
    --second: purple;
    display: flex;
    justify-content: center;
}

#root {
    font-family: Georgia;
    width: 21cm;
    height: 29.7cm;
    border: 5px solid red;
    display: grid;
    grid-template-areas:
        'portret contact'
        'experience-header experience-description'
        'projects-header projects-description'
        'skills-header skills-description'
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    width: fit-content;
}

.container {
    padding: 32px;
}

.filled {
    background: var(--second);
    color: whitesmoke
}

#photo {
    padding: 0;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-circle {
    border-radius: 300px;
    aspect-ratio: 1;
    height: 85%;
    overflow: hidden;
}

#photo img {
    max-width: 100%;
}

#contact {
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contact h1 {
    color: var(--second);
}

.title {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title>p {
    margin: 8px;
    width: 150px;
}

#experience-title {
    color: var(--second);
}

#experience-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#experience-description h2 {
  background: var(--gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#projects-title {
    color: var(--gold);
}

#projects-title>p {
    background: var(--gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#projects-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#projects-description a,
#projects-description p {
    margin-left: 15px;
}

#projects-description h3 {
    color: var(--second);
}

#projects-description a {
    font-size: 12px;
}

#projects-description p {
    margin-top: 5px;
    margin-bottom: 0;
}

#skills-title {
    color: var(--second);
}

#skills-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#skills-description h3 {
    background: var(--gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}